<!DOCTYPE html>
<html lang="en">
<head>
    <title>Programacion</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/style3.css" rel="stylesheet">
</head>
<body>
     <!-- NAV BAR -->  
     <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="../index.html">Electronica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./electri.html">Electricidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./program.html">Programacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./robot.html">Robotica</a>
            </li>    
          </ul>
        </div>  
      </nav>

      <!-- Body Principal-->
    <div class="contariner-fluid">
      <div class="center">
        <h1 id="topic3">PROGRAMACION</h1>
      </div>
      <div class="hist2">
          <h2>La programación es el proceso utilizado para idear y ordenar las acciones necesarias para realizar un proyecto, preparar ciertas máquinas o aparatos para que  empiecen a funcionar en el momento y en la forma deseados o elaborar programas para su empleo en computadoras.</h2>
      </div>
        <div class="body2">
            <div class="sub1"> 
                <div class="sub2"> 
                    <img class="imagpro" src="c.jpg" alt="Lenguaje c">
                    <div class="subprogr">
                        <h3 class="nprogram"> Lenguaje C</h3>
                    </div>
                </div>
                    <div class="content">
                        <p class="conten">
                            C es un lenguaje de programación de propósito general originalmente desarrollado por Dennis Ritchie entre 1969 y 1972 en los Laboratorios Bell,1 como evolución del anterior lenguaje B, a su vez basado en BCPL.
                        </p>
                    </div>
            </div>
             
            <div class="sub1"> 
                <div class="sub2"> 
                    <img class="imagpro" src="html5.2.jpg" alt="HTML5">
                    <div class="subprogr">
                        <h3 class="nprogram"> HTML5 </h3>
                    </div>
                </div>
                    <div class="content">
                        <p class="conten">
                            HTML, siglas en inglés de HyperText Markup Language (‘lenguaje de marcado de hipertexto’), hace referencia al lenguaje de marcado para la elaboración de páginas web.Es un estándar que sirve de referencia del software que conecta con la elaboración de páginas web en sus diferentes versiones, define una estructura básica y un código (denominado código HTML) para la definición de contenido de una página web, como texto, imágenes, videos, juegos, entre otros.
                        </p>
                    </div>
            </div>
            
            <div class="sub1"> 
                <div class="sub2"> 
                    <img class="cuad" src="pyhton1.jpg" alt="Python">
                    <div class="subprogr">
                        <h3 class="nprogram"> PYTHON </h3>
                    </div>
                </div>
                    <div class="content">
                        <p class="conten">
                            Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.2​ Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.
                        </p>
                    </div>
            </div>
            
            <div class="sub1"> 
                <div class="sub2"> 
                    <img class="cuad" src="js.jpg" alt="JavaScript">
                    <div class="subprogr">
                        <h3 class="nprogram"> JavaScript </h3>
                    </div>
                </div>
                    <div class="content">
                        <p class="conten">
                            JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos,2​ basado en prototipos, imperativo, débilmente tipado y dinámico.e utiliza principalmente del lado del cliente, implementado como parte de un navegador web permitiendo mejoras en la interfaz de usuario y páginas web dinámicas3​ y JavaScript del lado del servidor (Server-side JavaScript o SSJS).
                        </p>
                    </div>
            </div>
        </div>
    </div>
        
        <!--Footer-->
        <footer>
            <div class="container-fluid bg-dark">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 col-md-6 bg-success bg-dark text-white">
                   <div class="foot1">
                      <h4>Creado con:</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <img class="red2" src="html5.png" alt="htmls">
                          <p>HTML5</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="css.png" alt="css">
                          <p>CSS-3</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="boots.png" alt="boots">
                          <p>BOOTSTRAP5</p>
                        </div>
                      </div>
                   </div>
                  </div>
                  <div class="col-sm-6 col-md-6 bg-sucess bg-dark text-white">
                    <div class="foot2"> 
                      <img class="ing" src="ing.jpg" alt="ing">
                    </div>
                    <div id="ing1"> 
                      <p>Ing. Zamora Paiz</p>
                    </div>
                    <ul>
                      <h4>Redes</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <li><a href="https://www.facebook.com/Aaronjotero.351"> <img class="red" src="facebook.png" alt="face"></a></li>
                          <p>Facebook</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://twitter.com/Ajotero_351"> <img class="red" src="twiter.png" alt="twiter"></a></li>
                          <p>Twitter</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://www.instagram.com/ajotero99"> <img class="red" src="insta.png" alt="insta"></a></li>
                          <p>Instagram</p>
                        </div>
                     </ul>
                  </div>
                </div>
              </div>
            </div>
          </footer>
</body>
</html>