$marine: whitesmoke;
$cafe: brown;

%prop_car {
  background-color: $marine;
}

%color_car {
  background-color: $cafe;
}

body {
  .card {
    @extend %color_car;
  }
  #N1 {
    @extend %prop_car;
  }
  #N2 {
    @extend %prop_car;
  }
  #N3 {
    @extend %prop_car;
  }
  #N0 {
    @extend %color_car;
  }
  .card-text,
  .card-title {
    color: $marine;
  }
}
