.navbar-brand{
  color: bisque !important;
}

.nav-link{
  color:bisque !important;
}

.jumbotron{
  padding-top: 1pt;
  padding-bottom: 5pt;
}

.topic1{
  display:flexbox
}

.topic {
  text-align: center;
  color:#076C86;
  padding: 10px;
}

.main_im{
  align-items: center;
  display: flexbox;
}

.cen{
  max-width: 80%;
  height: auto;
  border-radius: 50pt;
}

.lema{
  font-size:x-large;
}

.nav-item{
  color:#076C86
}

.cont{
  padding: 5px;
  text-align: justify !important;
  color:#000080
}

.sub{
  color:black;
  text-align: center;
  margin: 10px;
}

.imag{
  display: flexbox; 
}

.cir{
  max-width: 100%;
  height: auto;
  border-radius: 50pt;
}

.foot1{
  margin-top: 11%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.foot2{
  margin-top: 10pt;
  display:flexbox;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ing{
  max-width: 100%;
  height: auto;
  border-radius: 50pt;
}

.red{
  max-width: 35px;
  border-radius: 50pt;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.red2{
  max-width: 70px;
  border-radius: 50pt;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.col-sm-4 p{
  text-align: center;
}

#ing1{
  color:antiquewhite;
  text-align: center;
}

@media only screen and (max-width: 300px) {
  .topic {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 200px) {
  .topic {
    font-size: 12px !important;
  }
    .sub{
      font-size: 12px !important;
    }
  }

@media only screen and (min-width: 2200px) {
  .red2{
      max-width: 200px;
  }
  .red{
      max-width: 100px;
  }
  }
