<!DOCTYPE html>
<html lang="en">
<head>
    <title>Electricidad</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/style2.css" rel="stylesheet">
</head>
<body>
     <!-- NAV BAR -->  
     <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="../index.html">Electronica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./electri.html">Electricidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./program.html">Programacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./robot.html">Robotica</a>
            </li>    
          </ul>
        </div>  
      </nav>

      <!-- Body Principal-->
      <div class="contariner fluid"></div>
      <div class="center">
        <h1 id="topic2">ELECTRICIDAD</h1>
      </div>
      <div class="hist">
          <p>La electricidad (del griego ήλεκτρον élektron, cuyo significado es ‘ámbar’)1​ es el conjunto de fenómenos físicos relacionados con la presencia y flujo de cargas eléctricas. Se manifiesta en una gran variedad de fenómenos como los rayos, la electricidad estática, la inducción electromagnética o el flujo de corriente eléctrica.</p>
      </div>
      <div>
        <div class="container fluid">
        <div class="table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>Items</th>
                  <th>Detalles</th>
                  <th>Ilustracion</th>
                 </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="eti">
                          <p>
                            Resistencia
                          </p>
                    </div>
                  </td>
                  <td>
                    <div class="text">
                      <p>
                        Se le denomina resistencia eléctrica a la oposición al flujo de corriente eléctrica a través de un conductor.
                      </p>
                    </div>
                    </td>
                  <td>
                    <div>
                        <div class="colum"> 
                            <img class="colum_ima" src="resis.jpg" alt="resis">
                        </div>
                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <div class="eti">
                    <p>
                      Corriente Electrica
                    </p>
                    </div>
                  </td>
                  <td>
                    <div class="text">
                      <p>
                        La corriente eléctrica es el flujo de carga eléctrica que recorre un material.2​ También se puede definir como un flujo de partículas cargadas, como electrones o iones, que se mueven a través de un conductor eléctrico o un espacio.
                      </p>
                    </div>
                   </td>
                  <td>
                    <div>
                        <div class="colum"> 
                            <img class="colum_ima" src="i.png" alt="inten">
                        </div>
                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <div class="eti">
                    <p>
                      Voltaje
                    </p>
                    </div>
                  </td>
                  <td>
                    <div class="text">
                      <p>
                        La tensión eléctrica o diferencia de potencial (también denominada voltaje)1​2​ es una magnitud física que cuantifica la diferencia de potencial eléctrico entre dos puntos. También se puede definir como el trabajo por unidad de carga ejercido por el campo eléctrico sobre una partícula cargada para moverla entre dos posiciones determinadas.
                      </p>
                    </div>
                   </td>
                  <td>
                    <div>
                        <div class="colum"> 
                            <img class="colum_ima" src="volt.jpg" alt="volt">
                        </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="eti">
                    <p>
                      Conductancia
                    </p>
                    </div>
                  </td>
                  <td>
                    <div class="text">
                      <p>
                        Se denomina conductancia eléctrica (G) de un conductor, a la inversa de la oposición que dicho conductor presenta al movimiento de los electrones en su cuerpo, es decir que la conductancia es la propiedad inversa de la resistencia eléctrica.
                      </p>
                    </div>
                   </td>
                  <td>
                    <div>
                        <div class="colum"> 
                            <img class="colum_ima" src="conduc.jpg" alt="conductancia">
                        </div>
                    </div>
                  </td>
                </tr>
                
                <tr>
                  <td>
                    <div class="eti">
                      <p>
                        Potencia Electrica
                      </p>
                    </div>
                  </td>
                  <td>
                    <div class="text">
                      <p>
                        La potencia eléctrica es la proporción por unidad de tiempo, o ritmo, con la cual la energía eléctrica es transferida por un circuito eléctrico, es decir, la cantidad de energía eléctrica entregada o absorbida por un elemento en un momento determinado. La unidad en el Sistema Internacional de Unidades es el vatio o watt (W).
                      </p>
                    </div>
                   </td>
                  <td>
                    <div>
                        <div class="colum"> 
                            <img class="colum_ima" src="poten.jpg" alt="potencia">
                        </div>
                    </div>
                  </td>
                </tr>


                



              </tbody>
            </table>
          </div>
        </div>
        

    </div>
        
        
        
        
        <!--Footer-->

        <footer>
            <div class="container-fluid bg-dark">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 col-md-6 bg-success bg-dark text-white">
                   <div class="foot1">
                      <h4>Creado con:</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <img class="red2" src="html5.png" alt="htmls">
                          <p>HTML5</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="css.png" alt="css">
                          <p>CSS-3</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="boots.png" alt="boots">
                          <p>BOOTSTRAP5</p>
                        </div>
                      </div>
                   </div>
                  </div>
                  <div class="col-sm-6 col-md-6 bg-sucess bg-dark text-white">
                    <div class="foot2"> 
                      <img class="ing" src="ing.jpg" alt="ing">
                    </div>
                    <div id="ing1"> 
                      <p>Ing. Zamora Paiz</p>
                    </div>
                    <ul>
                      <h4>Redes</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <li><a href="https://www.facebook.com/Aaronjotero.351"> <img class="red" src="facebook.png" alt="face"></a></li>
                          <p>Facebook</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://twitter.com/Ajotero_351"> <img class="red" src="twiter.png" alt="twiter"></a></li>
                          <p>Twitter</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://www.instagram.com/ajotero99"> <img class="red" src="insta.png" alt="insta"></a></li>
                          <p>Instagram</p>
                        </div>
                     </ul>
                  </div>
                </div>
              </div>
            </div>
          </footer>
</body>
</html>