<!DOCTYPE html>
<html lang="en">
<head>
    <title>Robotica</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/style4.css" rel="stylesheet">
        <link href="/static/Sas Style.css" rel="stylesheet">
</head>
<body>
     <!-- NAV BAR -->  
     <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="../index.html">Electronica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./electri.html">Electricidad</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./program.html">Programacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./robot.html">Robotica</a>
            </li>    
          </ul>
        </div>  
      </nav>

      <!-- Body Principal-->
    <div class="container-fluid" id="principal">
      
      <div class="row">
        <div class="col-md-12" id="N0">
          <div>
            <h1>
                Robotica
            </h1>
            <div class="port">
              <img class="img-fluid" src="robot2.jpg" alt="robotica">
            </div>
            <p id="histor">
              La robótica va unida a la construcción de "artefactos" que trataban de materializar el deseo humano de crear seres a su semejanza y que al mismo tiempo lo descargasen de trabajos tediosos o peligrosos. El ingeniero español Leonardo Torres Quevedo (que construyó el primer mando a distancia para su automóvil mediante telegrafía, el ajedrecista automático, el primer transbordador aéreo y otros muchos ingenios), acuñó el término "automática" en relación con la teoría de la automatización de tareas tradicionalmente asociadas.
            </p>
          </div>
        
        </div>
  
        <div class="col-sm-4" id="N1">
          <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top" src="brazo.jpg" alt="Brazo robotico">
            <div class="card-body">
              <h3 class="card-title">Brazo Robotico</h3>
              <p class="card-text"> Tipo de brazo mecánico, normalmente programable, con funciones parecidas a las de un brazo humano; este puede ser la suma total del mecanismo o puede ser parte de un robot más complejo.</p>
              <br>
              <br>
              <br>
              
              <a href="https://prime.jsc.nasa.gov/ROV/types.html" class="btn btn-dark">Leer mas</a>
            </div>
        </div>  
        </div>
        
        <div class="col-sm-4" id="N2" >
          <div class="card text-center" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="coca.jpg" alt="Coca.cola">
            <div class="card-body">
              <h3 class="card-title">Automatización Industrial</h3>
              <p class="card-text"> Hoy en día la tecnología avanza a pasos forzados a causa de las necesidades ya sea en la calidad de los productos como por la propia competencia entre marcas.</p>
              <br>
              <br>
              <br>
              <br>
              <a href="https://www.fmjingenieros.com/servicios/automatizacion-industrial/introduccion-a-la-automatizacion" class="btn btn-dark">Leer mas</a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-4"id="N3" >
            <div class="card text-center" style="width: 18rem;">
              <img class="card-img-top" src="car.jpeg" alt="Tesla">
              <div class="card-body">
                <h3 class="card-title">Carro Automarico</h3>
                <p class="card-text"> Los autos eléctricos de Tesla son un misterio para todo aquel que está acostumbrado a conducir un vehículo que usa gasolina. Lo que más intriga a las personas son dos de sus particularidades y que los hacen únicos: sus baterías de litio que contienen su potente energía y su motor que no emite ningún tipo de ruido.</p>
                <a href="https://www.tesla.com" class="btn btn-dark">Leer mas</a>
              </div>
            </div>
        </div>
      
      </div>
    
        
      </div>
        
      
        
        <!--Footer-->
        <footer>
            <div class="container-fluid bg-dark">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6 col-md-6 bg-success bg-dark text-white">
                   <div class="foot1">
                      <h4>Creado con:</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <img class="red2" src="html5.png" alt="htmls">
                          <p>HTML5</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="css.png" alt="css">
                          <p>CSS-3</p>
                        </div>
                        <div class="col-sm-4">
                          <img class="red2" src="boots.png" alt="boots">
                          <p>BOOTSTRAP5</p>
                        </div>
                      </div>
                   </div>
                  </div>
                  <div class="col-sm-6 col-md-6 bg-sucess bg-dark text-white">
                    <div class="foot2"> 
                      <img class="ing" src="ing.jpg" alt="ing">
                    </div>
                    <div id="ing1"> 
                      <p>Ing. Zamora Paiz</p>
                    </div>
                    <ul>
                      <h4>Redes</h4>
                      <div class="row">
                        <div class="col-sm-4">
                          <li><a href="https://www.facebook.com/Aaronjotero.351"> <img class="red" src="facebook.png" alt="face"></a></li>
                          <p>Facebook</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://twitter.com/Ajotero_351"> <img class="red" src="twiter.png" alt="twiter"></a></li>
                          <p>Twitter</p>
                        </div>
                        <div class="col-sm-4">
                          <li><a href="https://www.instagram.com/ajotero99"> <img class="red" src="insta.png" alt="insta"></a></li>
                          <p>Instagram</p>
                        </div>
                     </ul>
                  </div>
                </div>
              </div>
            </div>
          </footer>
</body>
</html>